target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
**/.idea/
eventory-client/.idea/*
eventory-server/.idea/*
*.iws
*.iml
*.ipr
eventory-client/.screen-graph.json
### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
### ssl 파일 ###
/eventory-client/ssl/certificate.crt
/eventory-client/ssl/private.key
/eventory-server/src/main/resources/keystore.p12

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# 환경 변수
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 디버그 로그
npm-debug.log*
yarn-debug.log*
yarn-error.log*