.frame {
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 1450px;
  left: 38px;
  padding: 22px 30px;
  position: absolute;
  top: 96px;
  width: 1110px;
}

.frame .navbar {
  height: 20px;
  position: relative;
  width: 1027.81px;
}

.frame .text-wrapper {
  color: #718ebf;
  font-family: "Inter", Helvetica;
  font-size: 16.5px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.frame .div {
  color: #718ebf;
  font-family: "Inter", Helvetica;
  font-size: 16.5px;
  font-weight: 500;
  left: 525px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.frame .text-wrapper-2 {
  color: #718ebf;
  font-family: "Inter", Helvetica;
  font-size: 16.5px;
  font-weight: 500;
  left: 656px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.frame .text-wrapper-3 {
  color: #718ebf;
  font-family: "Inter", Helvetica;
  font-size: 16.5px;
  font-weight: 500;
  left: 366px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.frame .text-wrapper-4 {
  color: #718ebf;
  font-family: "Inter", Helvetica;
  font-size: 16.5px;
  font-weight: 500;
  left: 177px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.frame .text-wrapper-5 {
  color: #718ebf;
  font-family: "Inter", Helvetica;
  font-size: 16.5px;
  font-weight: 500;
  left: 827px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.frame .text-wrapper-6 {
  color: #718ebf;
  font-family: "Inter", Helvetica;
  font-size: 16.5px;
  font-weight: 500;
  left: 983px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.frame .rectangle {
  background-color: #e6eff5;
  height: 1px;
  position: relative;
  width: 1050px;
}

.frame .div-2 {
  align-self: stretch;
  height: 36.53px;
  margin-right: -8px;
  position: relative;
  width: 100%;
}

.frame .text-wrapper-7 {
  color: #232323;
  font-family: "Inter", Helvetica;
  font-size: 16.7px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.frame .text-wrapper-8 {
  color: #232323;
  font-family: "Inter", Helvetica;
  font-size: 16.7px;
  font-weight: 400;
  left: 341px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.frame .text-wrapper-9 {
  color: #232323;
  font-family: "Inter", Helvetica;
  font-size: 16.7px;
  font-weight: 400;
  left: 177px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.frame .text-wrapper-10 {
  color: #232323;
  font-family: "Inter", Helvetica;
  font-size: 16.7px;
  font-weight: 400;
  left: 525px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.frame .overlap-group-wrapper {
  height: 37px;
  left: 946px;
  position: absolute;
  top: 0;
  width: 106px;
}

.frame .overlap-group {
  border-radius: 52.19px;
  height: 37px;
  position: relative;
  width: 104px;
}

.frame .text-wrapper-11 {
  color: #fe5c73;
  font-family: "Inter", Helvetica;
  font-size: 15.7px;
  font-weight: 400;
  left: 38px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
}

.frame .rectangle-2 {
  border: 1.04px solid;
  border-color: #fe5c73;
  border-radius: 52.19px;
  height: 37px;
  left: 0;
  position: absolute;
  top: 0;
  width: 104px;
}

.frame .overlap-wrapper {
  height: 37px;
  left: 790px;
  position: absolute;
  top: 0;
  width: 106px;
}

.frame .text-wrapper-12 {
  color: #007bff;
  font-family: "Inter", Helvetica;
  font-size: 15.7px;
  font-weight: 400;
  left: 38px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
}

.frame .rectangle-3 {
  border: 1.04px solid;
  border-color: #007bff;
  border-radius: 52.19px;
  height: 37px;
  left: 0;
  position: absolute;
  top: 0;
  width: 104px;
}

.frame .group-2 {
  height: 37px;
  left: 634px;
  position: absolute;
  top: 0;
  width: 106px;
}

.frame .text-wrapper-13 {
  color: #232323;
  font-family: "Inter", Helvetica;
  font-size: 15.7px;
  font-weight: 400;
  left: 38px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
}

.frame .rectangle-4 {
  border: 1.04px solid;
  border-color: #232323;
  border-radius: 52.19px;
  height: 37px;
  left: 0;
  position: absolute;
  top: 0;
  width: 104px;
}

.frame .rectangle-5 {
  background-color: #f2f3f7;
  height: 1px;
  position: relative;
  width: 1050px;
}

.frame .text-wrapper-14 {
  color: #007bff;
  font-family: "Inter", Helvetica;
  font-size: 16.7px;
  font-weight: 400;
  left: 525px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.frame .overlap-group-2 {
  background-color: #d9d9d9;
  border-radius: 52.19px;
  height: 37px;
  position: relative;
  width: 104px;
}

.frame .text-wrapper-15 {
  -webkit-text-stroke: 1.04px #fe5c73;
  color: #f8f9fa;
  font-family: "Inter", Helvetica;
  font-size: 15.7px;
  font-weight: 400;
  left: 37px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
}

.frame .text-wrapper-16 {
  color: #f8f9fa;
  font-family: "Inter", Helvetica;
  font-size: 15.7px;
  font-weight: 400;
  left: 38px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
}

.frame .text-wrapper-17 {
  color: #fe5c73;
  font-family: "Inter", Helvetica;
  font-size: 16.7px;
  font-weight: 400;
  left: 525px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}
