.div-wrapper {
  align-items: start;
  background-color: #ffffff;
  display: grid;
  justify-items: center;
  width: 100vw;
}

.div-wrapper .div-9 {
  background-color: #ffffff;
  height: 1800px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.div-wrapper .rectangle-7 {
  background-color: #e6eff5;
  height: 1px;
  left: 250px;
  position: absolute;
  top: 100px;
  width: 1190px;
}

.div-wrapper .overlap {
  background-color: #f4f6f9;
  height: 1800px;
  left: 250px;
  position: absolute;
  top: 101px;
  width: 1190px;
}

.div-wrapper .navbar-2 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  height: 45px;
  left: 38px;
  padding: 4px 3px;
  position: absolute;
  top: 20px;
  width: 303px;
}

.div-wrapper .rectangle-8 {
  background-color: #f4f6f9;
  border-radius: 8px;
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent,
    0px 0px 0px transparent, 0px 0px 0px transparent, 0px 1px 3px #0000001a,
    0px 1px 2px #0000001a;
  height: 37px;
  position: relative;
  width: 74px;
}

.div-wrapper .text-wrapper-21 {
  color: #007bff;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 28px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
}

.div-wrapper .rectangle-9 {
  border-radius: 8px;
  height: 37px;
  position: relative;
  width: 74px;
}

.div-wrapper .text-wrapper-22 {
  color: #718ebf;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 102px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-23 {
  color: #718ebf;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 176px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-24 {
  color: #718ebf;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 248px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
}

.div-wrapper .group-3 {
  height: 40px;
  left: 852px;
  position: absolute;
  top: 1588px;
  width: 305px;
}

.div-wrapper .group-4 {
  height: 18px;
  left: 250px;
  position: absolute;
  top: 11px;
  width: 49px;
}

.div-wrapper .text-wrapper-25 {
  color: #007bff;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 500;
  height: 18px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.div-wrapper .vector {
  height: 13px;
  left: 40px;
  position: absolute;
  top: 2px;
  width: 8px;
}

.div-wrapper .group-5 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 11px;
  width: 77px;
}

.div-wrapper .text-wrapper-26 {
  color: #007bff;
  font-family: var(--button-2-medium-15p-font-family);
  font-size: var(--button-2-medium-15p-font-size);
  font-style: var(--button-2-medium-15p-font-style);
  font-weight: var(--button-2-medium-15p-font-weight);
  height: 18px;
  left: 13px;
  letter-spacing: var(--button-2-medium-15p-letter-spacing);
  line-height: var(--button-2-medium-15p-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.div-wrapper .vector-2 {
  height: 13px;
  left: -1px;
  position: absolute;
  top: 2px;
  width: 8px;
}

.div-wrapper .text-wrapper-27 {
  color: #007bff;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 500;
  height: 18px;
  left: 175px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-28 {
  color: #007bff;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 500;
  height: 18px;
  left: 212px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  white-space: nowrap;
}

.div-wrapper .overlap-2 {
  background-color: #007bff;
  border-radius: 10px;
  height: 40px;
  left: 87px;
  position: absolute;
  top: 0;
  width: 40px;
}

.div-wrapper .text-wrapper-29 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 500;
  height: 18px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-30 {
  color: #007bff;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 500;
  height: 18px;
  left: 138px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  white-space: nowrap;
}

.div-wrapper .group-6 {
  height: 45px;
  left: 354px;
  position: absolute;
  top: 21px;
  width: 232px;
}

.div-wrapper .overlap-3 {
  background-color: #ffffff;
  border-radius: 40px;
  height: 45px;
  position: relative;
  width: 230px;
}

.div-wrapper .magnifying-glass {
  height: 18px;
  left: 22px;
  position: absolute;
  top: 14px;
  width: 18px;
}

.div-wrapper .text-wrapper-31 {
  color: #8ba3cb;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 54px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
  white-space: nowrap;
}

.div-wrapper .overlap-4 {
  height: 1184px;
  left: 0;
  position: absolute;
  top: 0;
  width: 250px;
}

.div-wrapper .rectangle-10 {
  background-color: #e6eff5;
  height: 999px;
  left: 249px;
  position: absolute;
  top: 0;
  width: 1px;
}
