.payment-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.payment-page .overlap-wrapper-2 {
  background-color: #ffffff;
  height: 1024px;
  width: 1440px;
}

.payment-page .overlap-4 {
  height: 1024px;
  position: relative;
}

.payment-page .overlap-5 {
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.payment-page .rectangle-10 {
  background-color: #e6eff5;
  height: 1px;
  left: 250px;
  position: absolute;
  width: 1190px;
}

.payment-page .rectangle-11 {
  background-color: #e6eff5;
  height: 1024px;
  left: 249px;
  position: absolute;
  top: 0;
  width: 1px;
}

.payment-page .overlap-6 {
  background-color: #f4f6f9;
  height: 923px;
  position: absolute;
  width: 1190px;
}

.payment-page .text-wrapper-31 {
  color: #343a40;
  font-family: "Inter", Helvetica;
  font-size: 22px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 173px;
}

.payment-page .view-2 {
  height: 40px;
  left: 852px;
  position: absolute;
  top: 827px;
  width: 305px;
}

.payment-page .group-15 {
  height: 18px;
  left: 250px;
  position: absolute;
  top: 11px;
  width: 49px;
}

.payment-page .text-wrapper-32 {
  color: #007bff;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 500;
  height: 18px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.payment-page .vector-2 {
  height: 13px;
  left: 40px;
  position: absolute;
  top: 2px;
  width: 8px;
}

.payment-page .group-16 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 11px;
  width: 77px;
}

.payment-page .text-wrapper-33 {
  color: #007bff;
  font-family: var(--button-2-medium-15p-font-family);
  font-size: var(--button-2-medium-15p-font-size);
  font-style: var(--button-2-medium-15p-font-style);
  font-weight: var(--button-2-medium-15p-font-weight);
  height: 18px;
  left: 13px;
  letter-spacing: var(--button-2-medium-15p-letter-spacing);
  line-height: var(--button-2-medium-15p-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.payment-page .vector-3 {
  height: 13px;
  left: -1px;
  position: absolute;
  top: 2px;
  width: 8px;
}

.payment-page .text-wrapper-34 {
  color: #007bff;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 500;
  height: 18px;
  left: 175px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  white-space: nowrap;
}

.payment-page .text-wrapper-35 {
  color: #007bff;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 500;
  height: 18px;
  left: 212px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  white-space: nowrap;
}

.payment-page .overlap-group-3 {
  background-color: #007bff;
  border-radius: 10px;
  height: 40px;
  left: 87px;
  position: absolute;
  top: 0;
  width: 40px;
}

.payment-page .text-wrapper-36 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 500;
  height: 18px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  white-space: nowrap;
}

.payment-page .text-wrapper-37 {
  color: #007bff;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 500;
  height: 18px;
  left: 138px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  white-space: nowrap;
}
