.group {
  height: 1184px;
  left: 0;
  position: absolute;
  top: 0;
  width: 250px;
}

.group .sidebar-menu {
  background-color: #e6eff5;
  height: 1184px;
  left: 249px;
  position: absolute;
  top: 0;
  width: 1px;
}

.group .div-3 {
  height: 220px;
  left: 0;
  position: absolute;
  top: 131px;
  width: 227px;
}

.group .div-4 {
  height: 25px;
  left: 34px;
  position: absolute;
  top: 0;
  width: 120px;
}

.group .img {
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}

.group .text-wrapper-18 {
  color: #b1b1b1;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 51px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
}

.group .div-5 {
  height: 25px;
  left: 34px;
  position: absolute;
  top: 65px;
  width: 195px;
}

.group .text-wrapper-19 {
  color: #b1b1b1;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 51px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1px;
}

.group .div-6 {
  height: 60px;
  left: 0;
  position: absolute;
  top: 113px;
  width: 173px;
}

.group .rectangle-6 {
  background-color: var(--primaryprimary);
  border-radius: 0px 10px 10px 0px;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 6px;
}

.group .div-7 {
  height: 25px;
  left: 34px;
  position: absolute;
  top: 17px;
  width: 141px;
}

.group .text-wrapper-20 {
  color: var(--primaryprimary);
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 51px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
}

.group .div-8 {
  height: 25px;
  left: 34px;
  position: absolute;
  top: 195px;
  width: 158px;
}

.group .money-optional-instance {
  height: 25px !important;
  width: 25px !important;
}
