.revenue-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.revenue-page .overlap-wrapper-2 {
  background-color: #ffffff;
  height: 1024px;
  width: 1440px;
}

.revenue-page .overlap-3 {
  height: 1024px;
  position: relative;
}

.revenue-page .overlap-4 {
  height: 999px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.revenue-page .rectangle-24 {
  background-color: #e6eff5;
  height: 1px;

  position: absolute;
  top: 100px;
  width: 1190px;
}

.revenue-page .rectangle-25 {
  background-color: #e6eff5;
  height: 999px;
  left: 249px;
  position: absolute;
  top: 0;
  width: 1px;
}

.revenue-page .overlap-5 {
  background-color: #f4f6f9;
  height: 923px;
  position: absolute;
  top: 0px;
  width: 1190px;
}
