.content-management {
  background-color: #ffffff;
  border-radius: 25px;
  height: 1300px;
  left: 40px;
  position: relative;
  top: 30px;
  width: 1110px;
}

.content-management .div {
  height: 80px;
  left: 72px;
  position: absolute;
  top: 39px;
  width: 970px;
}

.content-management .div-2 {
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 420px;
}

.content-management .text-wrapper {
  color: #232323;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.content-management .overlap-group-wrapper {
  height: 50px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 420px;
}

.content-management .overlap-group {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #dfeaf2;
  border-radius: 15px;
  height: 50px;
  position: relative;
  width: 418px;
}

.content-management .text-wrapper-2 {
  color: #718ebf;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
  white-space: nowrap;
}

.content-management .div-3 {
  height: 80px;
  left: 552px;
  position: absolute;
  top: 0;
  width: 422px;
}

.content-management .overlap {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #dfeaf2;
  border-radius: 15px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 418px;
}

.content-management .vector {
  height: 8px;
  left: 379px;
  position: absolute;
  top: 20px;
  width: 13px;
}

.content-management .div-4 {
  height: 318px;
  left: 72px;
  position: absolute;
  top: 160px;
  width: 972px;
}

.content-management .input-field-default-wrapper {
  height: 287px;
  left: 0;
  position: absolute;
  top: 31px;
  width: 970px;
}

.content-management .input-field-default {
  align-items: flex-start;
  background-color: var(--primarywhite);
  border: 0.96px solid;
  border-color: #dfe1e6;
  border-radius: 7.65px;
  display: flex;
  flex-direction: column;
  gap: 19.11px;
  height: 287px;
  padding: 19.11px 15.29px 15.29px;
  position: relative;
  width: 970px;
}

.content-management .rich-text-editor {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15.29px;
  justify-content: center;
  position: relative;
}

.content-management .text-style {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15.29px;
  position: relative;
}

.content-management .text-wrapper-3 {
  color: var(--primaryblack);
  font-family: var(--body-regular-font-family);
  font-size: var(--body-regular-font-size);
  font-style: var(--body-regular-font-style);
  font-weight: var(--body-regular-font-weight);
  letter-spacing: var(--body-regular-letter-spacing);
  line-height: var(--body-regular-line-height);
  margin-top: -0.96px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.content-management .chevron-down {
  height: 15.29px;
  position: relative;
  width: 15.29px;
}

.content-management .divider {
  height: 30.58px;
  position: relative;
  width: 1px;
}

.content-management .div-5 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 22.94px;
  justify-content: center;
  position: relative;
}

.content-management .text-wrapper-4 {
  color: var(--primaryblack);
  font-family: var(--body-bold-font-family);
  font-size: var(--body-bold-font-size);
  font-style: var(--body-bold-font-style);
  font-weight: var(--body-bold-font-weight);
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  margin-top: -0.96px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.content-management .text-wrapper-5 {
  color: var(--primaryblack);
  font-family: var(--body-italic-font-family);
  font-size: var(--body-italic-font-size);
  font-style: var(--body-italic-font-style);
  font-weight: var(--body-italic-font-weight);
  letter-spacing: var(--body-italic-letter-spacing);
  line-height: var(--body-italic-line-height);
  margin-top: -0.96px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.content-management .text-wrapper-6 {
  color: var(--primaryblack);
  font-family: "Inter", Helvetica;
  font-size: 15.3px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22.9px;
  margin-top: -0.96px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.content-management .text-wrapper-7 {
  color: var(--primaryblack);
  font-family: "Inter", Helvetica;
  font-size: 15.3px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22.9px;
  margin-top: -0.96px;
  position: relative;
  text-decoration: line-through;
  white-space: nowrap;
  width: fit-content;
}

.content-management .img {
  height: 19.11px;
  position: relative;
  width: 19.11px;
}

.content-management .divider-solid {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 9.56px;
  justify-content: center;
  padding: 3.82px 0px;
  position: relative;
  width: 100%;
}

.content-management .baseline {
  align-self: stretch;
  height: 1px;
  margin-bottom: -0.04px;
  margin-top: -0.96px;
  position: relative;
  width: 100%;
}

.content-management .input-label {
  align-self: stretch;
  color: var(--secondary-gray-4);
  font-family: var(--body-regular-font-family);
  font-size: var(--body-regular-font-size);
  font-style: var(--body-regular-font-style);
  font-weight: var(--body-regular-font-weight);
  letter-spacing: var(--body-regular-letter-spacing);
  line-height: var(--body-regular-line-height);
  position: relative;
}

.content-management .div-6 {
  height: 355px;
  left: 72px;
  position: absolute;
  top: 519px;
  width: 956px;
}

.content-management .div-7 {
  height: 355px;
  left: 0;
  position: absolute;
  top: 0;
  width: 420px;
}

.content-management .text-wrapper-8 {
  color: #232323;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 93px;
}

.content-management .input-field-drag-and {
  align-items: center;
  background-color: var(--primarywhite);
  border: 1px dashed;
  border-color: #dfe1e6;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 327px;
  justify-content: center;
  left: 0;
  padding: 20px 160px;
  position: absolute;
  top: 29px;
  width: 420px;
}

.content-management .photograph {
  height: 32px;
  position: relative;
  width: 32px;
}

.content-management .frame {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  position: relative;
}

.content-management .upload-a-file {
  color: #007bff;
  font-family: var(--secondary-semibold-font-family);
  font-size: var(--secondary-semibold-font-size);
  font-style: var(--secondary-semibold-font-style);
  font-weight: var(--secondary-semibold-font-weight);
  letter-spacing: var(--secondary-semibold-letter-spacing);
  line-height: var(--secondary-semibold-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.content-management .PNG-JPG-GIF-up-to {
  color: var(--secondary-gray-4);
  font-family: var(--secondary-regular-font-family);
  font-size: var(--secondary-regular-font-size);
  font-style: var(--secondary-regular-font-style);
  font-weight: var(--secondary-regular-font-weight);
  letter-spacing: var(--secondary-regular-letter-spacing);
  line-height: var(--secondary-regular-line-height);
  margin-left: -10px;
  margin-right: -8px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.content-management .div-8 {
  height: 355px;
  left: 538px;
  position: absolute;
  top: 0;
  width: 418px;
}

.content-management .div-9 {
  height: 80px;
  left: 0;
  position: absolute;
  top: 275px;
  width: 420px;
}

.content-management .div-10 {
  height: 80px;
  left: 0;
  position: absolute;
  top: 139px;
  width: 420px;
}

.content-management .div-11 {
  height: 80px;
  left: 73px;
  position: absolute;
  top: 915px;
  width: 970px;
}

.content-management .div-12 {
  height: 80px;
  left: 552px;
  position: absolute;
  top: 0;
  width: 420px;
}

.content-management .icon {
  height: 24px;
  left: 383px;
  position: absolute;
  top: 12px;
  width: 24px;
}

.content-management .group-wrapper-2 {
  height: 80px;
  left: 72px;
  position: absolute;
  top: 1036px;
  width: 418px;
}

.content-management .div-13 {
  height: 80px;
  position: relative;
  width: 420px;
}

.content-management .group-wrapper-3 {
  height: 50px;
  left: 852px;
  position: absolute;
  top: 1190px;
  width: 190px;
}

.content-management .overlap-group-wrapper-2 {
  height: 50px;
  width: 192px;
}

.content-management .overlap-group-2 {
  background-color: #007bff;
  border-radius: 15px;
  height: 50px;
  position: relative;
  width: 190px;
}

.content-management .text-wrapper-9 {
  color: #ffffff;
  font-family: var(--button-medium-18p-font-family);
  font-size: var(--button-medium-18p-font-size);
  font-style: var(--button-medium-18p-font-style);
  font-weight: var(--button-medium-18p-font-weight);
  left: 78px;
  letter-spacing: var(--button-medium-18p-letter-spacing);
  line-height: var(--button-medium-18p-line-height);
  position: absolute;
  text-align: center;
  top: 14px;
}
