.screen {
  align-items: start;
  background-color: #ffffff;
  display: grid;
  height: 100%;
  justify-items: center;
  min-height: 100vh;
  width: 100vw;
}

.screen .overlap-wrapper-2 {
  background-color: #ffffff;
  height: 1024px;
  width: 1440px;
}

.screen .overlap-4 {
  height: 1024px;
  position: relative;
}

.screen .overlap-5 {
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.screen .rectangle-14 {
  background-color: #e6eff5;
  height: 1px;
  left: 250px;
  position: absolute;
  top: 100px;
  width: 1190px;
}

.screen .rectangle-15 {
  background-color: #e6eff5;
  height: 1024px;
  left: 249px;
  position: absolute;
  top: 0;
  width: 1px;
}

.screen .overlap-6 {
  background-color: #f4f6f9;
  height: 923px;
  left: 250px;
  position: absolute;
  top: 101px;
  width: 1190px;
}

.screen .text-wrapper-32 {
  color: #343a40;
  font-family: "Inter", Helvetica;
  font-size: 22px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 173px;
}

.screen .view-2 {
  height: 40px;
  left: 853px;
  position: absolute;
  top: 829px;
  width: 305px;
}

.screen .group-23 {
  height: 18px;
  left: 250px;
  position: absolute;
  top: 11px;
  width: 49px;
}

.screen .text-wrapper-33 {
  color: #007bff;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 500;
  height: 18px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.screen .vector-2 {
  height: 13px;
  left: 40px;
  position: absolute;
  top: 2px;
  width: 8px;
}

.screen .group-24 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 11px;
  width: 77px;
}

.screen .text-wrapper-34 {
  color: #007bff;
  font-family: var(--button-2-medium-15p-font-family);
  font-size: var(--button-2-medium-15p-font-size);
  font-style: var(--button-2-medium-15p-font-style);
  font-weight: var(--button-2-medium-15p-font-weight);
  height: 18px;
  left: 13px;
  letter-spacing: var(--button-2-medium-15p-letter-spacing);
  line-height: var(--button-2-medium-15p-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.screen .vector-3 {
  height: 13px;
  left: -1px;
  position: absolute;
  top: 2px;
  width: 8px;
}

.screen .text-wrapper-35 {
  color: #007bff;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 500;
  height: 18px;
  left: 175px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  white-space: nowrap;
}

.screen .text-wrapper-36 {
  color: #007bff;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 500;
  height: 18px;
  left: 212px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  white-space: nowrap;
}

.screen .overlap-7 {
  background-color: #007bff;
  border-radius: 10px;
  height: 40px;
  left: 87px;
  position: absolute;
  top: 0;
  width: 40px;
}

.screen .text-wrapper-37 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 500;
  height: 18px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  white-space: nowrap;
}

.screen .text-wrapper-38 {
  color: #007bff;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 500;
  height: 18px;
  left: 138px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  white-space: nowrap;
}
